/* Allgemeines Styling für Abstände und Schrift */
body {
    font-family: Arial, sans-serif;
    margin: 20; /* Entfernt die Standard-Margin */

}

.background-container {
    background-image: url('../images/Vividatio.webp');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    opacity: 1; /* Reduziert die Deckkraft des Containers */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Styling für die WiFi-Einstellungen */
.wifi-section {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group label {
    width: 100px; /* Festgelegte Breite für gleichmäßiges Alignment */
    margin-right: 10px;
}

.input-group input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* Styling für die RGB-Einstellungen */
.rgb-section {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

/* Styling für die HelligkeitsEinstellung */
.h-section {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

/* Horizontale Linie zur Trennung */
hr {
    margin: 40px 0;
    border: 1px solid #aaa;
}

/* Slider-Styling */
input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
}

/* Vorschau für Farbe ohne Helligkeit */
#color-preview {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    border: 1px solid #000;
}

/* Vorschau für Farbe mit Helligkeit */
#brightness-preview {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    border: 1px solid #000;
}